@model IEnumerable<Christiansoe.Models.History>

@{
    ViewData["Title"] = "Index";
}

<h4>Historier fra øen</h4>
<p>
    <a class="btn btn-primary" asp-controller="Histories" asp-action="ShowSearchForm">Søg</a>
</p>
<p>
    <a class="btn btn-primary" asp-action="Create">Tilføj ny historie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Historie
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr >
                
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a>
                </td>

                <td>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Slet</a> |
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Rediger</a>
                </td>
            </tr>
        }
    </tbody>
</table>
