@model Christiansoe.Models.Assignment

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>
        @Html.DisplayNameFor(model => model.Name)
    </h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Rediger</a> |
    <a class="btn btn-primary" asp-action="Index">Tilbage</a>
</div>
