@model Christiansoe.Models.Animal

@{
    ViewData["Title"] = "Delete";
}
    
<p>Navn: @Html.DisplayFor(model => model.Name)</p>
<p>Race: @Html.DisplayFor(model => model.Species)</p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Annuller</a>
    </form>
